header{
    background-color: #9ccfd8;
}
#side {
    background-color: #c4a7e7;
}
#left {
    background-color: #c4a7e7 ;
}
#main {
    background-color: #9ccfd8 ;
}
footer {
    background-color: #9ccfd8;
}